body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #FFC864;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.H {
    background-color: #FFA500;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav a {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
}

.container {
    background-color: #3C3C3C;
    padding: 2rem;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1rem auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h2, h3 {
    text-align: center;
    
}

@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 0.5rem 0;
    }

    header, footer {
        text-align: center;
    }

    .container {
        padding: 1rem;
    }

    img {
        margin: 0.5rem auto;
    }
}
